<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.5.2/vue.min.js"></script>
    <!-- CDNJS :: Sortable (https://cdnjs.com/) -->
    <script src="//cdn.jsdelivr.net/npm/sortablejs@1.7.0/Sortable.min.js"></script>
    <!-- CDNJS :: Vue.Draggable (https://cdnjs.com/) -->
    <script src="//cdnjs.cloudflare.com/ajax/libs/Vue.Draggable/2.16.0/vuedraggable.min.js"></script>
</head>


<style>
    .box {
        width: 1000px;
        height: 500px;
        background: antiquewhite;
    }

    .column {
        width: 1000px;
        min-height: 500px;
        background: aqua;
        margin-top: 40px;
    }

    .card {
        width: 200px;
        height: 200px;
        float: left;
        margin-left: 20px;
        margin-top: 10px;
        background: rebeccapurple;
        font-size: 30px;
        color: white;
        text-align: center;
    }

    .ghostClass {
        opacity: 1;
    }

    .handle {
        cursor: move;
        cursor: -webkit-grabbing;
    }
</style>


<div id="app">

    <div class="box">

        <draggable
                v-model="card"
                :options='{disabled:false,animation:200,ghostClass:"ghostClass",group:{ name: "card",put: ["column"]}}'
                :move='onMoveCallback'
                @end="onEndCallback"
                @choose="onChooseCallback"
        >

            <div v-for="element in card" :key="element.type" class="card" :id="888">
                <p>count：{{element.count}}</p>
                <p>{{element.type}}</p>
            </div>
        </draggable>

    </div>


    <div class="column">
        <draggable
                :options='{group:{ name: "column", put:["card"]}}' v-model="column"
                @choose="onChooseColumnCallback"
                :move='onMoveCallback'
        >
            <div v-for="element in column" class="card" :key="element.type">
                <p>count：{{element.count}}</p>
                <p>{{element.type}}</p>
            </div>
        </draggable>
    </div>

</div>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                //牌区
                card_data: [
                    {
                        type: 1,
                        img: '',
                        count: 4,
                    },
                    {
                        type: 2,
                        img: '',
                        count: 4,
                    },
                    {
                        type: 3,
                        img: '',
                        count: 4,
                    }
                ],
                //每个列区
                column_data: [
                    {
                        type: 4,
                        img: '',
                        count: 4,
                    }
                ],
                block_data: {
                    block: {},
                    oldIndex: 0,
                },
                //牌区和列区,谁是0,代表先执行谁的set函数
                priority: 0,
                //判断是否属于在区域中左右拖动
                is_area_drag: false,
            }
        },
        methods: {
            onMoveCallback(ent, originalEvent) {
                this.is_area_drag = true;
                console.log('在方块之间拖动', ent.draggedContext.elements.id, originalEvent);
            },
            onUpdateCallback(ent, originalEvent) {
                console.log('更换位置', ent, originalEvent);
            },
            onStartCallback(ent) {
                console.log('开始拖动', ent);
            },
            onEndCallback(evt, originalEvent) {
                console.log('拖动松手', evt, originalEvent);
                console.log('拖动松手-原本位置', evt.oldIndex);
                console.log('拖动松手-拖动后位置', evt.newIndex);
                if (this.is_area_drag) {
                    this.is_area_drag = false;
                }
            },
            onChooseCallback(ent, originalEvent) {
                this.block_data.block = this.card_data[ent.oldIndex];
                this.block_data.oldIndex = ent.oldIndex;
                console.log('选中方块', ent, originalEvent);
                console.log('选中方块', this.card_data[ent.oldIndex]);
            },
            onChooseColumnCallback(ent, originalEvent) {
                this.block_data.block = this.column_data[ent.oldIndex];
                this.block_data.oldIndex = ent.oldIndex;
                console.log('选中方块', ent, originalEvent);
                console.log('选中方块', this.column_data[ent.oldIndex]);
            },
        },
        computed: {
            card: {
                get() {
                    return this.card_data;
                },
                set(value) {
                    if (this.is_area_drag === true) {
                        this.card_data = value;
                    } else {
                        //表示从列中 拉取上来的
                        if (this.priority == 0) {
                            this.priority = 1;
                            this.card_data = value;
                            //对列区的数据进行操作
                            this.block_data.block.count = this.block_data.block.count - 1;
                            if (this.block_data.block.count > 0) {
                                this.column_data[this.block_data.oldIndex] = this.block_data.block;
                            } else {
                                this.column_data.splice(this.column_data.oldIndex, 1);
                            }
                        } else {
                            //表示从牌区中拉取下去的
                            this.priority = 0;
                        }
                    }

                }
            },
            column: {
                get() {
                    return this.column_data;
                },
                set(value) {
                    if (this.is_area_drag === true) {
                        console.log('yoyo');
                        this.column_data = value;
                    } else {
                        //代表是从牌区拉下来的
                        if (this.priority == 0) {
                            this.priority = 1;
                            this.column_data = value;
                            //对牌区的数据进行操作
                            this.block_data.block.count = this.block_data.block.count - 1;
                            if (this.block_data.block.count > 0) {
                                this.card_data[this.block_data.oldIndex] = this.block_data.block;
                            } else {
                                this.card_data.splice(this.block_data.oldIndex, 1);
                            }
                        } else {
                            //代表是从列拉上去牌区的
                            this.priority = 0;
                        }
                    }
                }
            }
        }
    });
</script>